:root {
  --bg:#0a0a0a;
  --card:#ffffff;
  --text:#2a2a2a;
  --accent:#b00020;
  --muted:#777;
}

body.light {
  --bg:#f4f4f4;
  --text:#1e1e1e;
}

*{margin:0;padding:0;box-sizing:border-box;}

body{
  font-family:'Inter',sans-serif;
  background:var(--bg);
  color:var(--text);
}

.hero {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  overflow: hidden;
}


.hero::after{
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-image:url("../images/hero.jpeg");
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  opacity:0.35;
}


.hero-content {
  position: relative;
  z-index: 3;
  max-width: 900px;
  padding: 20px;
}


section{
  background:var(--card);
  margin:120px auto;
  padding:80px 30px;
  max-width:1000px;
  border-radius:30px;
  opacity:0;
  transform:translateY(60px);
  transition:1s;
}

section.show{opacity:1;transform:none;}

h2{text-align:center;font-family:'Playfair Display';color:var(--accent);}

.divider{width:100px;height:4px;background:var(--accent);margin:20px auto;}

.gallery{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
}

.gallery img{
  width:100%;
  height:300px;
  object-fit:cover;
  border-radius:20px;
}

.cta{text-align:center;margin:100px 0;}

.cta-button{
  padding:20px 50px;
  font-size:1.3rem;
  border:none;
  border-radius:50px;
  background:#b00020;
  color:#fff;
  cursor:pointer;
}

footer{text-align:center;color:#aaa;padding:40px;}
